@import "./backgroundstyle.css";
@import "./typography.css";

img{
    width: 25%;
    height: 25%;
    border: 1px solid rgb(70, 73, 73);
}
.container{
    align-items: center;
}
.content{
    text-align: center;
    justify-items: center;
    width: 100%;
}

.single{
    width: 75.4%;
}