.container{
    background-image: url(./background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    border: 1px solid #dbe6ec;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 200px;
    color: honeydew;
    background-color: rgba(21, 21, 22, 0.5);
    background-image: url(./egyptcard2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 50px solid black;
}
h1{
    font-size: 42px;
    font-family: 'Courier New', Courier, monospace;
    /*background-color: rgba(44, 44, 58, 0.75);*/
    border: 5px solid rgb(232, 242, 243);
    border-radius: 1.5%;
    margin: 30px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    color: blanchedalmond;
    background-color: black;
    width: 100%;
    border-top: 1px solid black;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(232, 242, 243);
    font-size: font-size: 30px;;
}

.workspace{
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    width: 100%;
    flex-direction: row;
}
.content{
   
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    height: 1000px;

}

.card{
    border: 1px solid rgb(70, 73, 73);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin: 10px 2px 2px 10px;
    border-radius: 1.5%;

    background-position: center;
}
a:link {
    text-decoration: none;  
  }

h3{
    color: rgb(232, 242, 243);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    
}
#section{
    display: flex;
    flex-direction: column;

}


}
.second{
    background-image: url(./egyptcard.jpeg);
}
.third{
    background-image: url(./egyptcard.jpeg);


}
.fourth{
    background-image: url(./egyptcard.jpeg);
}





.bottom{
    color: white;
    background-color: rgba(44, 44, 58, 0.5);
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    border-top: 1px solid rgb(232, 242, 243);
    border-bottom: 50px solid black;
}

@media(min-width:00px) and (max-width:1500px){
    h1{
        font-size: 80px;
    }
    .content{
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-gap: 15px;
        grid-template-areas:
        "top"
        "mid1"
        "mid2"
        ;
    }





}


@media(min-width:1501px){
    .content{
        display: flex;
        flex-direction: row;
        height: 1fr;
        width: 100%;
        align-items: space-evenly;
        justify-content: space-evenly;
    }
    h1{
        font-size: 100px;
    }
    h3{
        font-size: 27px;
    }
}